<h1>Neu User</h1>
<%= form_for @user do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %><br>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div style="color:red"><%= "Username ist bereits existiert" %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :passwort %>
    <%= form.password_field :password %><br>
  </div>
  <%= form.submit "Ertellen" %> 
<% end %>
