<h1>Dictionary</h1>
<div>
  <%= form_tag(words_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>


<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Definition</th>
      <th>Class of Word</th>
    </tr>
  </thead>
  <tbody>
    <% @word.each do |word| %>
    <tr>
      <td><%= link_to word.word, word %></td>
      <td><%= word.definition %></td>
      <td><%= word.wordtype %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to "New Word", new_word_path%>

