<h1><%= @word.word %></h1>

<p><%= @word.definition %></p>
<p><%= @word.wordtype %></p>

<ul>
  <li><%= link_to "Bearbeiten", edit_word_path(@word) %></li>
  <li><%= link_to "Löschen", word_path(@word), method: :delete, data: {confirn: "sicher?"} %></li>
  <li><%= link_to "Zurück", words_path %></li>
</ul>
